<form method="post" action="/login">
    <div>
        <label>Admin code</label>
        <input type="password" name="code" autofocus /><br />
        <input type="text" name="password" autofocus /><br />
        
    </div>
    <button type="submit">Login</button>
</form>